@import "tailwindcss";

@theme {
    --font-display: "Kode Mono", "sans-serif";
    --color-purple-*: initial;
    /* remove all purple colors */
    --color-purple: rgb(47, 0, 255);
    --color-green-*: initial;
    --color-green: rgb(0, 195, 0);
}

/* will keep the content scrollable while hiding the scrollbar. */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}